
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<!--
  <tab title="Pets" icon="icon ion-home" href="#/tab/pets">
    <nav-view name="pets-tab"></nav-view>
  </tab>

  <tab title="Adopt" icon="icon ion-heart" href="#/tab/adopt">
    <nav-view name="adopt-tab"></nav-view>
  </tab>

  <tab title="About" icon="icon ion-search" href="#/tab/about">
    <nav-view name="about-tab"></nav-view>
  </tab>

  -->

  <!-- Leads Tab -->

<tab>
  <p>TEST</p>
  <nav-view name="leads-tab"></nav-view>
</tab>