<!--
  This template loads for the 'tab.lead-detail' state (app.js)
  'lead' is a $scope variable created in the LeadCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<view>
  <div class="bar bar-header bar-positive">
    <button class="button ion-chevron-left button-clear button-light" ng-click="actions.back()"> Back</button>
    <div class="h1 title">{{lead.first}} {{lead.last}}</div>
    <button class="button button-clear button-light" ng-click="actions.edit()">Edit</button>
  </div>
  <content has-header="true" padding="true">
    <p>{{ lead.first }} {{ lead.last }}</p>
    <p>{{ lead.title }} at {{ lead.company }}</p>
  </content>
</view>
