<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view>
  <side-menus>  
    <pane side-menu-content>
      <div class="bar bar-header bar-positive">
        <button class="button button-icon icon ion-navicon" ng-click="actions.toggleMenu()"></button>
        <div class="h1 title">Leads</div>
        <button class="button ion-plus button-clear" ng-click="actions.add()"></button>
      </div>
      <content has-header="true" has-tabs="true">
        <list>
          <item ng-repeat="lead in leads" type="item-text-wrap" href="#/leads/{{lead.id}}">
            <h3>{{lead.first}} <span style="font-weight: bold">{{lead.last}}</span></h3>
            <p>{{lead.title}} at {{lead.company}}</p>
            </item>
          </item>
        </list>
      </content>
    </pane> 
    
    <side-menu side="left">
      <header class="bar bar-header bar-assertive">
        <div class="title">Left Menu</div>
      </header>
      <content has-header="true">
        <ul class="list">
          <a ontouchend="cameraGetPicture()" class="item">Scan Business Card</a>
        </ul>
      </content>
    </side-menu>
  </side-menus>

</view>
