<view>
  <div class="bar bar-header bar-positive">
    <button class="button button-clear button-light" ng-click="actions.cancel()">Cancel</button>
    <div class="h1 title" ng-if="LeadsService.createNewLead">Create Lead</div>
    <button class="button button-clear button-light" ng-click="actions.save()">Save</button>
  </div>
  <content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="input.first">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="input.last">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="input.title">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Company" ng-model="input.company">
      </label>
    </div>
    <button ng-show="!LeadsService.createNewLead" class="button button-outline button-block button-assertive" ng-click="actions.confirm()">
      Delete Lead
    </button>
  </content>
</view>

