<side-menus>  
  <pane side-menu-content>
    <nav-bar type="bar-positive"
             back-button-type="button-icon"
             back-button-icon="ion-ios7-arrow-back"></nav-bar>
    <nav-view name="menuContent"></nav-view>
  </pane> 
  
  <side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <div class="title">Left Menu</div>
    </header>
    <content has-header="true">
      <ul class="list">
        <a href="#/event/check-in" class="item">Check-in</a>
        <a href="#/event/attendees" class="item">Attendees</a>
      </ul>
    </content>
  </side-menu>
</side-menus>