
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
<!--
  <tab title="Pets" icon="icon ion-home" href="#/tab/pets">
    <nav-view name="pets-tab"></nav-view>
  </tab>

  <tab title="Adopt" icon="icon ion-heart" href="#/tab/adopt">
    <nav-view name="adopt-tab"></nav-view>
  </tab>

  <tab title="About" icon="icon ion-search" href="#/tab/about">
    <nav-view name="about-tab"></nav-view>
  </tab>

  -->

  <!-- Leads Tab -->
<!--   <tab title="Leads" icon="icon ion-plus" href="#/tab/leads"> -->
    <nav-view name="leads-tab"></nav-view>
<!--   </tab> -->


</tabs>
