<div ng-controller="EditCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div class="content-padded">
    <h1>Edit</h1>

    <form class="simple-form">
      <label>Name:</label><br>
      <input type="text" ng-model="leads.name" class="topcoat-text-input three-quarters"/>

      <br><br>

      <label>Description:</label><br>
      <input type="text" ng-model="leads.description" class="topcoat-text-input three-quarters"/>

      <br><br>

      <a class="topcoat-button--cta full center" hm-tap="update(leads)">Update</a>
      <br><br>
      <a class="topcoat-button full center" hm-tap="close()">Cancel</a>
    </form>
  </div>

</div>
