<div ng-controller="IndexCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div class="topcoat-list__container">

    <ul class="topcoat-list">
      <!-- order is reversed created timestamp -->
      <li class="topcoat-list__item" hm-tap="open(leads.id)" ng-repeat="leads in leadss | orderBy: '-createddate'">
        leads: {{ leads.name }}
      </li>
    </ul>

  </div>

</div>
